/* FONTS

font-family: 'Righteous', cursive;
font-family: 'Quicksand', sans-serif;

*/

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

.toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: "weather blank menu";
    padding: 10px;
}

.toolbar > div {
    padding: 20px;
    text-align: center;
}

.brand {
    grid-column: 2 / 3;
    font-family: 'Righteous', cursive;
}

.weather {
    grid-column: 1 / 2;
    font-family: 'Quicksand', sans-serif;
}

.menuButton {
    grid-column: 3 / 4;
    font-family: 'Quicksand', sans-serif;
}