.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
}

.grid-container > div {
    padding: 20px;
    text-align: center;
}

.header {
    grid-column: 3 / 5;
}