/* FONTS

font-family: 'Righteous', cursive;
font-family: 'Quicksand', sans-serif;

*/

html,body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo weather";
  text-align: center;
  align-items: center;
}

.brand {
  align-items: center;
  grid-column: 1 / 2;
  text-align: left;
  font-family: "Righteous", cursive;
  font-size: 2em;
  padding-left: 10px;
}

.weather {
  grid-column: 2 / 3;
  font-family: "Quicksand", sans-serif;
  text-align: right;
  font-size: 1em;
  padding-right: 10px;
}

/* Add a black background color to the top navigation */
.topnav {
  grid-column: 2 / 3;
  background-color: #333;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: rgb(0, 110, 255);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.carousel {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

.carousel-image {
  max-width: 100%;
  height: auto;
}

#weather-status {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8em;
  text-align: center;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  padding-bottom: 10px;
  grid-template-areas: "card";
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 1rem;
  
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
  font-family: 'Quicksand', sans-serif;
}

footer {
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: rgb(0, 110, 255);
  text-align: center;
  width: 100%;
  padding: 10px;
}

.footer-social {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

.footer-social a:link {
  text-decoration: none;
  color: white;
}

.footer-social a:visited {
  text-decoration: none;
  color: white;
}

.footer-social a:hover {
  text-decoration: none;
  color: white;
}

.footer-social a:active {
  text-decoration: none;
  color: white;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); grid-template-areas: "card card"; }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); grid-template-areas: "card card card"; }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
